AWS_REGION=ap-southeast-2
AVAILABILITY_ZONE=
DOMAIN_NAME=intai.me
CERTBOT_EMAIL=intai.hg@gmail.com
INSTANCE_TYPE=t3.micro
VPC_CIDR=10.0.0.0/16
PROJECT_NAME=intai-me
ENVIRONMENT=production
TARGET_OS=linux
