# Terraform
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform/
.terraform.lock.hcl
crash.log

# Environment
.env
.venv/

# Packer
packer_manifest.json

# Python
__pycache__/
*.egg-info/
build/

# OS
.DS_Store
docs/
