worker_processes  1;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile      on;
    keepalive_timeout  65;
    gzip  on;
    gzip_types text/plain text/css application/json application/javascript text/xml;

    server {
        listen 80;
        server_name www.{{ domain_name }};
        return 301 http://{{ domain_name }}$request_uri;
    }

    server {
        listen 80;
        server_name {{ domain_name }};
        root {{ win_nginx_root | regex_replace('\\\\', '/') }};
        index index.html;

        add_header X-Frame-Options "SAMEORIGIN" always;
        add_header X-Content-Type-Options "nosniff" always;
        add_header Referrer-Policy "strict-origin-when-cross-origin" always;
        add_header Content-Security-Policy "default-src 'self'; style-src 'self' 'unsafe-inline'; object-src 'self'" always;

        location / {
            try_files $uri $uri/ =404;
        }
    }
}
